*.TMP
.DS_Store
Thumbs.db
sftp-config.json
aaReferences/
zzWorkspace/
*prueba*/
appZzShared/server/sharedDefines.php
appFed16/cliente/plugins/jquery.cesta/jquery.cesta.css
appFed16/server/clases/Pages/Home/index.html
